@font-face{
	font-family: Praetorium;
	src: url(../font/Praetorium/PRAEBRG_.TTF);
}

@-webkit-keyframes dropDown {
	0% {top: -40%;}
	100% {top: 0%;}
 }

 @keyframes dropDown {
	0% {top: -40%;}
	100% {top: 0%;}
}

.dropDown{
	-webkit-animation-name: dropDown;
	-webkit-animation-duration: 3s;animation-duration: 3s;
	-webkit-animation-fill-mode: both;animation-fill-mode: both;
	animation-name: dropDown;
}

@-webkit-keyframes goingUp {
	0% {top: 0%;}
	100% {top: -40%;}
 }

 @keyframes goingUp {
	0% {top: 0%;}
	100% {top: -40%;}
}

.goingUp{
	-webkit-animation-name: goingUp;
	-webkit-animation-duration: 3s;animation-duration: 3s;
	-webkit-animation-fill-mode: both;animation-fill-mode: both;
	animation-name: goingUp;
}

#log{	
	
	position: relative;
	top: -40%;
	left:25%;
	
	text-align: left;
	z-index: 100;
	display:block;
	font-family: Praetorium;
	color:white;
	font-size:1.25vmax;
	
	
	width:40vw;
	height: 50vh;
	min-height:0;
	min-width:0;
	
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}

@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
 }
 @keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
.fadeOut{
	-webkit-animation-name: fadeOut;
	-webkit-animation-duration: 20s;animation-duration: 20s;
	-webkit-animation-fill-mode: both;animation-fill-mode: both;
	animation-name: fadeOut;
}
.logEntry{
	width:100%;
	position:relative;
	height:10%;
	white-space:nowrap;
	user-select:none;
	
}
#logContainer{
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	position:relative;
	
	height:100%;
	overflow-y:scroll;
	top:3%;
	left:3%;
	z-index:1;
	min-height:0;
}

#myCanvas{
	display:inline-block;
	position:relative;
	min-width:100%;
	min-height:100%;
	top:-100%;
}

.OFhide{
	overflow:hidden;
}

#tooltip{
	position:absolute;
	background-color:rgba(0,0,0,0.5);
	top:50vh;
	left:50vw;
	z-index:1000;
	color:white;
	font-family: Praetorium;
}

.logButton{
	height:3.25%;
	width:6.5%;
	z-index:2;
	align-self:flex-end;
}
body { 
	margin: 0; 
	overflow:hidden;
}
.hud{
	display:block;
	position: relative;
	top:0%;
	height:100%;
	width:100%;
}
#betamt{
	background:transparent;
	font-family: Praetorium;
	text-align: center;
	height:100%;
	width:100%;
	color:white;
	font-size:2vmax;
}
#betamt:disabled{
	background-color:red;
}
#GameChips{
	position: absolute;
	top: 90%;
	left:5%;
	text-align: left;
	z-index: 100;
	display:block;
	font-family: Praetorium;
	color:white;
	font-size:2vmax;
	user-select: none;
}
#LobbyId{
	position: absolute;
	top: 10%;
	left:5%;
	text-align: left;
	z-index: 100;
	display:block;
	font-family: Praetorium;
	color:white;
	font-size:2vmax;
	user-select: none;
}
#UserId{
	position: absolute;
	top: 10%;
	right:5%;
	text-align: left;
	z-index: 100;
	display:block;
	font-family: Praetorium;
	color:white;
	font-size:2vmax;
	user-select: none;
}
#Bet{
	position: absolute;
	top: 80%;
	right:5%;
	z-index: 100;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	font-family: Praetorium;
	color:white;
	font-size:2vmax;
}
#Discard{
	position: absolute;
	top: 45%;
	right:45%;
	z-index: 100;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	font-family: Praetorium;
	color:white;
	font-size:2vmax;
}
#startGame{
	position: absolute;
	top: 45%;
	right:46.5%;
	z-index: 100;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	font-family: Praetorium;
	color:white;
	font-size:2vmax;
}
#Bet.button{
	font-family: Praetorium;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: Praetorium;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:active:focus{
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover{
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.button-30:hover:disabled{
	background-color:red;
}

.button-30:active{
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.layers{
	display: grid;
	grid-auto-columnd:1fr;
	grid-auto-flow: column;
	text-align:center;
	padding-bottom:2vmax;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

